@font-face {
    font-family: 'Freestyle Script';
    src: url('FreestyleScript-Regular.woff2') format('woff2'), url('FreestyleScript-Regular.woff') format('woff'), url('FreestyleScript-Regular.svg#FreestyleScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Oswald');
body {
    background-image: url("images/bg.jpg");
}

h1 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
}

/* Begin Landing Title */

.landing-title {
    font-family: 'Freestyle Script';
    font-size: 16vw;
    text-align: center;
    color: white;
    padding-bottom: 200px;
}

@media screen and (min-width: 671px) {
    h1.landing-title {
        font-size: 30rem;
    }
}

@media screen and (max-width: 670px) {
    h1.landing-title {
        font-size: 15rem;
    }
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.5);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.5);
    }
}

/* End Landing Title */

.mainpage {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 22vw;
}

.content {
    background-color: rgb(223, 223, 223);
    font-size: 2.5rem;
    padding-top: 170px;
}

.sp-btn {
    background-color: #d6b4a4;
    color: #722424;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    font-family: 'Archivo Narrow', sans-serif;
    transition: 0.2s;
    border-radius: 2px;
    box-shadow: 0px 10px 0px #c52a2a;
}

.sp-btn:hover {
    background-color: #d6b4a4;
    color: #722424;
    transition: 0.2s;
}

.sp-btn:active {
    background-color: #ffffff;
    transform: translateY(10px);
    box-shadow: 0px 0px 0px #c52a2a;
    transition: 0.1s;
}

.centertext {
    text-align: center;
}